<template>
    <div>
        <strong>Counter again:{{ count }}</strong>
        <p>CHIMP</p>
        <h6>{{chimp}}</h6>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';

const CounterAgain = {
    name: 'CounterAgain',
    computed: {  
        ...mapState([
            'count',
            'chimp'
        ])
    }
}

export default CounterAgain;
</script>