<template>
    <div>
        <h1>{{ title }}</h1>
        <strong>{{ count }}</strong>
        <form>
        <input name="email">
        <button @click="incrementCounter('banana chimp')">++</button>
        </form>
        <p>Links in DB: <em>{{countLinks}}</em></p>
        <li><CounterAgain /></li>
        <Links />

    </div>

</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import Links from './Links';
import CounterAgain from './CounterAgain';

const Counter = {
    components: {                       
        CounterAgain,
        Links
    },
    computed: {
        ...mapGetters([
            'countLinks'
        ]),  
        ...mapState([
            'title',
            'count'
        ])
    },
    methods: {
        ...mapMutations([
            'INCREMENT_COUNTER'
        ]),
        ...mapActions([
            'incrementCounter'
        ]),
        increment: function() {
            this.INCREMENT_COUNTER()
        }
    }
}

export default Counter;
</script>