<template>
  <div class="hello">
    <h1>Home</h1>
    {{msg}}
  </div>
</template>

<script>
export default {
  name: 'home',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    }
}
</script>

<style>


</style>