<template>
	<ul> All the links
	{{linkProtocols}}
	  <li v-for="(link, index) in links" v-bind:key="index">
	    {{ link }}
	  </li>
	</ul>
</template>

<script>
import {mapState, mapGetters} from 'vuex';

const Links = {
	name: 'Links',
	computed: { 
        ...mapState([
        	'links'
        ]),
        ...mapGetters([
        	'linkProtocols'
        ])
    },
}

export default Links;	

</script>